---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    app: "{{ ansible_operator_meta.name }}"
    app.kubernetes.io/name: "{{ ansible_operator_meta.name }}"
    app.kubernetes.io/managed-by: "{{ ansible_operator_meta.name }}"
{% if aap_integration_enabled | bool %}
    app.kubernetes.io/part-of: "{{ aap_ref.name }}"
{% endif %}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ ansible_operator_meta.name }}"
  template:
    metadata:
      labels:
        app: "{{ ansible_operator_meta.name }}"
    spec:
      containers:
      - name: example-app
        image: "{{ container_image }}"
        ports:
        - containerPort: {{ container_port | int }}
        env:
{% if aap_integration_enabled | bool and service_secret_name and env_vars | length > 0 %}
{% for env_var in env_vars %}
        - name: {{ env_var.name }}
          value: "{{ env_var.value }}"
{% endfor %}
{% endif %}
{% if aap_integration_enabled | bool and service_secret_name and secret_env_vars | length > 0 %}
{% for secret_env_var in secret_env_vars %}
        - name: {{ secret_env_var.name }}
          valueFrom:
            secretKeyRef:
              name: "{{ service_secret_name }}"
              key: {{ secret_env_var.key }}
{% endfor %}
{% endif %}
